src
node_modules
pnpm-lock.yaml
package-lock.json
core
tsconfig.json
tsup.config.ts
test
.husky
.github
out
.prettierrc
.env
.env.example
web
.npmignore
.npmrc
.prettierignore
prettier.config.cjs
.dist*